body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styled-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: 10px;
}

.styled-table td {
  text-align: center;
}

.styled-table th{
  background-color: aqua;
}


.container_app{
  padding: 30px 50px;
}

.menu_search input{
  margin-left: 20px;
  margin-right: 20px;
}

.btn_search{
  background-color: aqua;
  border-radius: 8px;
  border: none;
  padding: 8px 13px;
  cursor: pointer;
}
